<div style="width:100%">
    <div class="paddRow aboutRow">
        <div class="wrap">
            <div class="head">About Us</div>
            <img src="images/about.png" class="abIcon">
            <p>
                A rising star in the world of game manufacturing, GrinBox develops uniquely entertaining games, featuring special magnetic properties, that are popular around the world. These include Magnetiz, the world's first layered magnet storyboard and SmartTime, an interactive magnetized game box. These original, patented products have become the center of attention at many international toy exhibitions.
            </p>
            <p>
                GrinBox has revolutionized the traditional board game making it not only highly entertaining but also educational, developing children's imagination, emotional intelligence and cognitive skills. It is these innovative qualities that have enabled GrinBox games to surge ahead of the competition.
            </p>
             <p>

                Currently GrinBox products are available in 6 languages: English, French, Spanish, Russian, Hungarian and Czech.
            </p>
        </div>
    </div>

    <div style="background-color:#f5f5f5">
        <div class="wrap about">
            <section>              
                <div>
                    <h2 class="subHead">A History of Innovation</h2>
                    <p>
                        The very first GrinBox products were magnetic puzzles, which quickly evolved into unique 3D magnetic storyboards aimed at young audiences. During the development of these products, Mr. Green, the company's founder, had an epiphany about magnetic properties. As a result, he devoted himself to in-depth research of the subject for the next five years
                    </p>
                    <p>
                        The expertise achieved during this period helped him develop unique methods for using magnetic fields. To date, GrinBox has registered three exclusive magnet-related patents in the USA, EU and dozens of other countries worldwide. The distinctiveness of GrinBox is the unique manner each of its game leverages these diverse magnetic properties.
                    </p>
                </div>
            </section>

             <section>              
                <div>
                    <h2 class="subHead">Striving for Excellence</h2>
                    <p>
                        At GrinBox, we never settle for anything less than the best. We never cut corners at any stage, from design and development all the way to the product's final graphic design and market positioning. Accompanying us every step of the way is a select team of top professionals: educators, psychologists, and teachers who advise us on the didactic and social aspects of the games. Meanwhile manufacturing engineers, graphic artists, and designers develop the actual product and its various elements. We believe this impressive investment of time and resources is the foundation of our success and the reason our games are so enjoyed.
                    </p>
                </div>
            </section>

            <section>              
                <div>
                    <h2 class="subHead">Private Label</h2>
                    <p>
                        In addition to producing its own lines of games and toys, GrinBox serves as a full contractor for OEM projects. From initial concept to the complete, finished product we develop unique, proprietary games for select clients. If you have a great idea, we will be more than happy to meet with you and discuss how we can transform your dream into a magical, captivating game.
                    </p>
                </div>
            </section>

            <section>              
                <div>
                    <h2 class="subHead">Inventing the Future</h2>
                    <p>
                        So what's next? Due to the success of the company's products, GrinBox has many new plans for the future with lots of innovative ideas and products in various stages of development. You can read more about these exciting projects in "The Lab" section

                    </p>
                </div>
            </section>
        </div>
    </div>
    <ng-include src="'pages/footer.html'"></ng-include>
</div>