
<div style="width:100%">
    <div class="page-title"></div>
    <div class="row">
       <iframe  class="col-md-9" width="800" height="480" src="https://www.youtube.com/embed/s1BrEghcMy0" frameborder="0" allowfullscreen></iframe>
       <div class="col-md-3">
            <div style="width:250px; height:230px; background-image:url('https://images-na.ssl-images-amazon.com/images/G/01/img16/toys/content-grid/small-tiles/36024_us_toys_stl-flight2_cg-sm-tile_750x375.jpg');background-repeat: no-repeat; margin-bottom:20px"></div>

            <div style="width:250px; height:230px; background-color:rgba(255, 204, 102,0.3);">
                <span style="color: rgb(148, 57, 0);font-size: 30px;padding: 30px;">30%  Off
                    <div style="padding-left: 42px;">
                        On Games
                    </div></span>
                <img src="/images/home1.png" style="width: 69%;margin-left: 28%;margin-top: -20%;"></div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12" style=" margin:15px; width:1120px; height:380px; background-image:url('/images/home3.jpg'); background-size: 100%;
    background-repeat: no-repeat;"></div>
    </div>
    <div class="row">
        <div  class="col-md-5"style="width:450px; height:480px; background-image:url('/images/bath.jpg');background-repeat: no-repeat; background-size: 100%; margin-left:15px; margin-right:10px"></div>

        <iframe  class="col-md-7" width="800" height="480" src="https://www.youtube.com/embed/ZgvnI0-7k9A" frameborder="0" allowfullscreen></iframe>

    </div>

    <ng-include src="footer.html"></ng-include>
</div>
