  <!--<div class="row" >
        <div class="col-md-10" ng-repeat="post in posts" style="background-color:#212B32; margin:10px">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="{{post.image}}" alt="" style="height:300px;width:900px">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>{{post.title}}</h3>
                    <p>{{post.content}}</p>
                </div>
        </div>
        <div class="col-md-2">
            sedwr</div>
        </div>
-->
<ul class="timeline">
   
    <li ng-repeat="post in posts"  ng-if="$index%2==0 ? class='timeline-inverted' : class='timeline-badge'"
    class="{{class}}">

        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>{{post.title}}</h4>
            </div>
            <div class="timeline-body">
                <p>{{post.content}}</p>
            </div>
            <div class="timeline-footer">
                 <img class="img-responsive" src="{{post.image}}" alt="" style="height:300px;width:900px">
                <p class="text-right">Feb-23-2016</p>
            </div>
        </div>
    </li>
    
 
    <li class="clearfix no-float"></li>
</ul>
