<div class="page-title">Lab Blog</div>

<ul class="timeline">
   
    <li ng-repeat="post in posts"  ng-if="$index%2==0 ? class='timeline-inverted' : class='timeline-badge'"
    class="{{class}}">

        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>{{post.title}}</h4>
            </div>
            <div class="timeline-body">
                <p>{{post.content}}</p>
            </div>
            <div class="timeline-footer">
                 <img class="img-responsive" src="{{post.image}}" alt="" style="height:300px;width:900px">
                <p class="text-right">Feb-23-2016</p>
            </div>
        </div>
    </li>
    
 
    <li class="clearfix no-float"></li>
</ul>
